.formulario-inputs {
  width: 100%;
  padding-top: 1rem;
}

.inputs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.input-field {
  width: 70%;
}

.input-field.month-field {
  width: clamp(70%, 70%, 110px);
}

.input-number-field {
  width: clamp(70%, 70%, 110px);
}

@media (min-width: 768px) {
  .input-field {
    width: clamp(160px, 30%, 180px);
  }

  .input-field.month-field {
    width: clamp(120px, 30%, 110px);
  }

  .input-number-field {
    width: clamp(100px, 5%, 90px);
  }

  .inputs-container {
    flex-direction: row;
    align-items: start;
  }

  .ant-form-item-explain.ant-form-item-explain-connected {
    min-height: 4.5rem;
  }
}

.boton-previsualizar {
  border-radius: 5rem;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 2.25rem;
  line-height: 2rem;
}


.boton-previsualizar:disabled {
  background-color: #b0b0b0;
  border-color: #b0b0b0;
}

.boton-previsualizar:not(:disabled) {
  background-color: #1473FF;
  border-color: #1473FF;
}

.boton-previsualizar .anticon-eye {
  color: white;
  margin-right: .25rem;
}

.ant-form-item-explain {
  min-height: 3rem;
  display: flex;
  align-items: start;
  transition: opacity 0.3s ease;
}