.upload-drop-zone {
  border: 2px dashed #E0E0E0;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  background-color: #f9f9f9;
  border-radius: 8px;

  p {
    font-size: 14px;
    color: #888;
  }

  .icono-inboxoutlined {
    font-size: 64px;
    color: #1473FF;
  }
}